.my-profile-page {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: calc(100dvh - 40px);
  padding-top: 20px;
  padding-bottom: 20px;
}

.my-profile-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.my-profile-details>div>input {
  width: 187px;
}

.username-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-profile-buttons {
  display: flex;
  gap: 5px;
}

.my-profile-buttons>button {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-profile-buttons {
  display: flex;
  justify-content: space-between;
}

@media (orientation: portrait) {
  .my-profile-page {
    height: calc(100dvh - 120px);
  }
}

.icon-content {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.save-cancel-buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.share-settings-buttons {
  display: flex;
  align-items: center;
}

.following-followers-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.following-followers-buttons>button {
  display: flex;
  justify-content: center;
  width: 150px;
  align-items: center;
}

.my-profile-page-follow {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.my-profile-page-follow-modal-buttons {
  display: flex;
  gap: 5px;
}
