.profile-page {
  /* background-color: var(--middleground-color); */
  overflow: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.email {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
}