
.editor-textarea {
  width: 100%;
  background-color: var(--background-color);
  /* background-color: red; */
  color: var(--foreground-color);
  outline: none;
  border: none;
  padding: 20px;
  resize: none;
}