
.editor-textarea {
  width: 100%;
  background-color: var(--foreground-color);
  /* background-color: red; */
  color: var(--text-color);
  outline: none;
  border: none;
  padding: 20px;
  resize: none;
}

.editor-textarea::placeholder {
  color: var(--text-color);
}