.editor-page {
  height: 100dvh;
}

.editor-page-content {
  display: grid;
  display: flex;
  height: 100%;
  height: 100%;
}

.editor-page-header {
  padding: 5px;
  display: flex;
  height: 26px;
}

.editor-page-function {
  padding: 5px;
  width: 200px;
  background-color: var(--middleground-color);
}

.editor-content-message {
  padding: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: var(--freground-color);
}

.editor-page-save-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}