.editor-page {
  height: 100dvh;
}

.editor-page-content {
  display: grid;
  display: flex;
  height: 100%;
  height: 100%;
}

.editor-page-header {
  padding: 5px;
  display: flex;
  height: 26px;
}

.editor-page-function {
  padding: 5px;
  width: 800px;
  background-color: var(--middleground-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editor-function-body {
  height: calc(100dvh - 95px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

.editor-function-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.editor-content-message {
  padding: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: var(--foreground-color);
}

.editor-page-save-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.rhymes-content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px; 
  /* width: 300px; */
}