.editor-page {
  height: 100vh;
}

.editor-page-content {
  display: grid;
  display: flex;
  height: 100%;
  height: 100%;
}

.editor-page-header {
  background-color: var(--middleground-color);
  padding: 5px;
  display: flex;
  height: 26px;
}

.editor-page-options {
  background-color: var(--middleground-color);
}

.editor-page-function {
  background-color: #1f1f1f;
  padding: 5px;
  width: 200px;
}

.editor-content-message {
  padding: 5px;
  width: 100%;
}

.editor-page-save-button-content {
  display: grid;
  grid-template-columns: 20px auto 20px;
  align-items: center;
}