

.project-details-header {
  display: flex;
  align-items: center;
  padding: 5px;
  min-width: 300px;
  margin-bottom: 10px;
  justify-content: space-between;
  height: 22px;
  gap: 20px;
}

.project-details-header-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.project-lyrics {
  background-color: var(--middleground-color);
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
  height: calc(100vh - 80px);
  width: calc(100vw - 570px);
}

.project-verse {
  min-height: 20px;
}