/* HORIZONTAL */
.projects-page {
  display: flex;
  gap: 10px;
}

.projects-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.projects-container {
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-selection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects-page-header-buttons {
  display: flex;
  align-items: center;
  height: 30px;
}

.projects-page-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* VERTICAL */

@media (orientation: portrait) {
  .projects {
    height: calc(100vh - 110px);
  }
}