
/* HORIZONTAL */
.projects-page {
  display: flex;
  gap: 50px;
}

.projects-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  /* overflow-x: hidden; */
  min-width: 400px;
}

.project-selection {
  display: flex;
  flex-direction: column;
}

.projects-page-header-buttons {
  display: flex;
  align-items: center;
  height: 30px;
}

/* VERTICAL */

