
.project-settings {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.project-settings-modal-buttons {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.project-settings-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-settings-container > div {
  display: flex;
  gap: 0px;
  align-items: center;
}

.project-settings-name-input {
  width: 180px;
}

.project-settings-label {
  width: 100px;
}