
.are-you-sure-modal-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.are-you-sure-modal-buttons {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.are-you-sure-modal-content-vertical {
  max-width: 300px;
  word-wrap: break-word;
}
