.button {
  border: 2px solid var(--foreground-color);
  padding: 10px;
  border-radius: 50px;
  color: var(--foreground-color);
  background-color: unset;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  font-size: var(--button-font-size);
}

.button:hover {
  background-color: var(--background-hover-color);
}

.button:active {
  background-color: var(--background-active-color);
}