.button {
  color: var(--text-color);
  border: 2px solid;
  padding: var(--padding);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  font-size: var(--font-size);
  white-space: nowrap;
}

.button:hover {
  background-color: var(--background-color-hover);
}

.button:active {
  background-color: var(--background-color-active);
}

.button-text {
  border: none;
}

.button-small {
  padding: 3px 7px 3px 7px;
  font-size: 13px;
}