.icon-button {
  padding: 10px;
  border-radius: 50px;
  border: none;
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  font-size: var(--font-size);
}

.icon-button:hover {
  background-color: var(--background-color-hover);
}

.icon-button:active {
  background-color: var(--background-color-active);

}

.icon-button-disabled {
  padding: 10px;
  border-radius: 50px;
  border: none;
  color: var(--disabled-color);
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  font-size: var(--font-size);
}
