
input {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--text-color);
  color: var(--text-color);
  border-radius: 5px;
  padding: var(--padding);
  font-size: var(--font-size);
}

input:focus {
  border: 2px solid var(--selected-color);
  outline: 2px solid var(--selected-color);
}

input::placeholder {
  color: var(--text-color);
}