
/* HORIZONTAL */

.app-name {
  font-family: "Birthstone", serif;
  /* font-weight: 400; */
  margin-top: 20px;
  font-style: normal;
  font-size: 30px;
  color: var(--selected-color);
}

.layout-page {
  display: flex;
}

.layout-container {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 5px;
  height: 100vh;
  gap: 50px;
  align-items: center;
}

.profile-button {
  text-align: right;
}

.layout-content {
  width: 100%; 
}

@media (orientation: portrait) {
  .layout-page {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }
  
  .layout-container {
    display: flex;;
    justify-content: center;
    padding: 0px;
    height: auto;
    gap: 0px;
    align-items: center;
  }
}
@media (max-height: 580px) {
  .layout-container {
    justify-content: center;
  }
}