.app-name {
  font-family: "Birthstone", serif;
  /* font-weight: 400; */
  font-style: normal;
  font-size: 30px;
  color: var(--selected-color);
}

.layout-page {
  display: flex;
}

.layout-container {
  display: flex;
  flex-direction: column;
  padding: 50px 5px 5px 5px;
  /* padding-right: 30px; */
  background-color: var(--middleground-color);
  height: 100vh;
  gap: 50px;
  align-items: center;
}

.profile-button {
  text-align: right;
}