.loading-circle {
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.loading-circle-small {
  width: 20px;
  height: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  align-items: center;
}


.loading-small {
  font-size: 13px;
}