.loading-circle {
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  align-items: center;
}

.loading-text {
  margin-top: 6px;
}