.post-expanded {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

.post-expanded>div {
  background-color: var(--foreground-color);
  padding: 10px;
  border-radius: 5px;
}

.post-header-expanded {
  padding: 10px;
}

.post-username-and-date {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: var(--text-color-secondary);
}

.post-username-and-date>button {
  padding: 0px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-color-secondary);
  border: none;
  outline: none;
}

.post-username-and-date>button:hover {
  color: var(--text-color);
}

.post-description {
  margin-top: 5px;
}

.post-rate-icons {
  display: flex;
  width: min-content;
  align-items: center;
  /* border: 1px solid black; */
  background-color: var(--background-color-hover);
  border-radius: 5px;
}

.post-footer {
  margin-top: 10px;
  gap: 5px;
  display: flex;
  align-items: center;
}

.post-rating-active {
  color: var(--selected-color);
}

.post-share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}