/* select-buttons */
.select-buttons {
  display: flex;
}
.select-buttons-vertical {
  display: flex;
  flex-direction: column;
}

/* select-button  */
.select-button {
  border: none;
  color: var(--text-color);
  background-color: unset;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  padding: 10px 23px 10px 23px;
}

.select-button-vertical {
  border: none;
  color: var(--text-color);
  background-color: unset;
  border-left: 3px solid rgba(0, 0, 0, 0);
  padding: 20px 30px 20px 20px;
}

/* select-button hover */
.select-button:hover {
  border-bottom: 3px solid white;
}

.select-button-vertical:hover {
  border-left: 3px solid var(--text-color);
}

/* select-button active */
.select-button:active {
  background-color: var(--background-color-active);
}

.select-button-vertical:active {
  background-color: var(--background-color-active);
}

/* select-button-selected */
.select-button-selected {
  border: none;
  padding: 10px 23px 10px 23px;
  background-color: unset;
  border-bottom: 3px solid var(--selected-color);
  color: var(--selected-color);
}

.select-button-selected-vertical {
  border: none;
  padding: 20px 30px 20px 20px;
  background-color: unset;
  border-left: 3px solid var(--selected-color);
  color: var(--selected-color);
}

.select-buttons-small > button {
  padding: 10px;
}
