:root {
  --background-color: #292929;
  --background-hover-color: #242424;
  --background-active-color: #333333;
  --middleground-color: #141414;
  --middleground-active-color: black;
  --foreground-color: #e0e0e0;
  --selected-color: #eb7134;
  --disabled-color: #696969;
  --font-size: 16px;
  --icon-font-size: 20px;
  --small-icon-font-size: 25px;
  --padding-horizontal: 15px;
  --padding-vertical: 5px;
  --padding: 5px 15px 5px 15px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  margin: 0px;
  font-family: Arial, sans-serif;
}

h3 {
  margin: 0px;
}

.icon {
  font-size: var(--icon-font-size);
}

.small-icon {
  font-size: var(--small-icon-font-size);
}

button {
  font-size: var(--font-size);
}

.center {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.page {
  margin: 10px
}

.icon-text-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-text-div>.text {
  margin-top: 3px;
}