:root {

  --background-color: #141414;
  --background-color-hover: rgba(255, 255, 255, 0.1);
  --background-color-active: rgba(255, 255, 255, 0.2);
  --background-color-selected: rgba(255, 255, 255, 0.1);
  --middleground-color: #202020;
  --foreground-color: #313131;
  --text-color: #e0e0e0;
  --text-color-secondary: #b1b1b1;
  --selected-color: #eb7134;
  --disabled-color: rgba(0, 0, 0, 0.2);
  --font-size: 16px;
  --icon-font-size: 20px;
  --small-icon-font-size: 25px;
  --padding-horizontal: 15px;
  --padding-vertical: 5px;
  --padding: 5px 15px 5px 15px;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0px;
  font-family: Arial, sans-serif;
}

h3 {
  margin: 0px;
}

textarea {
  font-size: 14px;
}

.icon {
  font-size: var(--icon-font-size);
}

.small-icon {
  font-size: var(--small-icon-font-size);
}

button {
  font-size: var(--font-size);
}

.center {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.page {
  margin: 10px
}

.icon-text-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-text-div>.text {
  margin-top: 3px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--selected-color);
  background: var(--text-color);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--selected-color);

}

::-webkit-scrollbar-track {
  background: none;
}

@media (orientation: portrait) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}