:root {
  --background-color: #1c1c1c;
  --background-hover-color: #242424;
  --background-active-color: #333333;
  --middleground-color: #141414;
  --foreground-color: white;
  --selected-color: #d1390f;
  --button-font-size: 16px;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  margin: 0px;
  font-family: Arial, sans-serif;
}

