
.feed {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  height: calc(100vh - 20px);
  overflow: auto;
}

.feed-song {
  padding: 10px;
  border-bottom: 2px solid var(--foreground-color);
  border-radius: 5px 5px 0px 0px;
}

.feed-song:hover {
  background-color: var(--background-color-hover);
}

.feed-song-username-and-date {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: var(--text-color-secondary);
}

.feed-song-username-and-date > button {
  padding: 0px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-color-secondary);
  border: none;
  outline: none;
}

.feed-song-username-and-date > button:hover {
  color: var(--text-color);
}

.feed-song-description {
  margin-top: 5px;

}

.feed-rate-icons {
  display: flex;
  width: min-content;
  align-items: center;
  /* border: 1px solid black; */
  background-color: var(--background-color-hover);
  border-radius: 5px;
}

.feed-song-footer {
  margin-top: 5px;
  gap: 5px;
  display: flex;
  align-items: center;
}

.homepage-rating-active {
  color: var(--selected-color);
}
